// Specific CSS for your home-page
#services {
  height: 400px;
  padding: 40px 0px;
}

.home-icon {
  // height: 50%;
  color: red;
  margin: 20px 0;
}

.home-description {
  font-size: 18px;
  padding: 0 20px;
}

.section-heading {

}
