// Specific CSS for your home-page
#services {
  min-height: 450px;
  padding: 40px 0px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.home-icon {
  // height: 50%;
  color: red;
  margin: 20px 0;
}

.home-description {
  font-size: 18px;
  padding: 0 20px;
}

.section-heading {
    margin-top: 45px !important;
}
