.main-container {
  display: flex;
  background-color: #fff;
}

.container {
  flex: 1 1 40%;

}

.order-container {
  background-color: #F3FAF9;
  padding: 30px 20px;
}
.fish-container {
  background-color: #E3F3F2;
  min-height: 200px;
}
.orders {
  margin: 40px 0px;
  overflow: auto;
}
.fish-container ul {
  list-style-type: none;
}
.resto-info {
  margin: 60px 80px;
}

#hero {
  background-color: #96B3BB;
    background-size: cover;
  background-position: center;
  flex: 1 1 60%;
  height: 600px;
}
