.main-container {
  display: flex;
}

.container {
  flex: 1 1 auto;
}

#map {
  background-color: #96B3BB;
  flex: 0 0 450px;
  height: 100vh;
  position: sticky !important; /* !important to override Gmaps inline CSS */
  top: 0 !important;
}
