<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://static.pexels.com/photos/61153/fish-fischer-ocean-market-61153.jpeg');">
  <div class="banner-content">
    <h1>Connecting Fish To Table</h1>
    <a class="btn btn-primary btn-lg">SIGN UP</a>
  </div>
</div>
