<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2)), url('<%= photo?(restaurant) %>');">
  <div class="card-body">
    <div class="card-category">
      <% compare(restaurant) %>
      <% if !@intersection.empty? %>
          <h4><%= @intersection.size %></h4>
      <% else %>
          <h4></h4>
      <% end %>
    </div>

    <div class="card-desc">
      <h2><%= link_to restaurant.name, restaurant_path(id: restaurant.id) %></h2>
    </div>
  </div>
</div>
