<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2)), url('<%= photo?(restaurant) %>');">

  <div class="card-body">
    <div class="card-category">
      <h4><%= restaurant.fish_orders.count %></h4>
      <%= image_tag "fish_solid.png", class: "card-icon" %>
      <h5>MATCH</h5>
    </div>

    <div class="card-desc">
      <h2><%= restaurant.name %></h2>
    </div>
  </div>
</div>
