<div class="map_box text-center">
  <h3><%= restaurant.name %></h3>
  <h4><%= restaurant.address %></h4>
  <hr class="gray-line">
  <% restaurant.fish_orders.each do |fish_order| %>
    <p><%= @fish[fish_order.fish_id] %> </p>
  <% end %>
    <hr class="gray-line">
  <%= link_to "Details", restaurant_path(restaurant), class: "btn btn-warning" %>
</div>




