<div class="main-container">

  <div class="container">
    <div class="row">

      <%= render 'shared/filter' %>


<!--  -->

      <% @restaurant.each do |c| %>
        <div class="col-xs-12 col-sm-6">
          <%= render 'shared/card', restaurant: c %>
        </div>
      <% end %>


    </div>
  </div>


  <div id="map">
  </div>
</div>
