.card {
  background-size: cover;
  background-position: center;
  color: white;
  font-size: 30px;
  text-align: center;
  padding: 50px;
  margin: 20px 10px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
