#filter-container {
  background-color: blue;
  border-color: blue;
  height: 70px;
  padding: 0px 30px;
  // display: flex;
  // align-items: center;
  // justify-content: space-between;
}

.pill {
  border: 1px solid #557580 !important;
  border-radius: 50%;
  padding: 2px;
  height: 15px;
}
