.main-container {
  display: flex;
  margin-bottom: 100px;
}

.container {
  flex: 1 1 auto;
}

#map {
  background-color: #96B3BB;
  flex: 0 0 450px;
  height: calc(100vh);
  position: sticky !important; /* !important to override Gmaps inline CSS */
  top: 0 !important;
  margin-bottom: 20px;
  border-radius: 6px;
}

.map_box {
  width: 200px;
  border-radius: 5px;
  h3 {
  font-size: 20px;
  }
  h4 {
    font-size: 10px;
    text-transform: uppercase;
    line-height: 1.4;
  }
  p {
    font-size: 16px;
  }
  .btn-solid {
    display: inline-block;
    margin-top: -25px;
    margin-bottom: 6px;
  }
}



.top-line {
  margin-bottom: 20px;
  margin-top: 12px;
}

.bottom-line {
  margin-bottom: 30px;
  margin-top: 12px;
}

