.main-container {
  display: flex;
  margin-bottom: 100px;
}

.index-container {
  display: flex;
}

.index-left {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-right: 20px;
}

.filters {
  height: 300px;
  margin: 0;
  display: flex;
  :first-child {
    display: flex;
    flex-wrap: wrap;
    align-items: space-between;
    margin: 0px;
    :first-child {
      height: 30px;
      width: 300px;
    }
  }
}

.tags {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 10px;
  border-radius: 3px;
}

.filter-names {
  margin: 20px 0 20px 0;
  display: flex;
}

.search-button {
  height: 50px;
  width: 200px;
}

.checkbox {
 display: flex;
 flex-wrap: wrap;
 :first-child {
    margin: 1px 5px 1px 5px;
  }
}

.filter {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.map-right {
  width: 40%;
}

.filter-dropdown-menu {
  margin-top: 15px;
  width: 600px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
}
.filter-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #999999 !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.filter-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}
.filter-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}

.filter-inputs {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:transparent !important;
  box-shadow: none !important;
  border: none;
  border-radius: 3px;
  padding: 10px;
  height: 50px;
  margin: 30px;
  input {
    background-color:transparent !important;
    border: 1px solid #375C69 !important;
    box-shadow: none !important;
    border-radius: 3px;
    height: 50px;
    margin: 10px;
    padding: 0 20px 0 20px;
  }
  button {
    background-color:transparent !important;
    border: 1px solid #375C69 !important;
    box-shadow: none !important;
    border-radius: 3px;
  }
}

#instuctions {
  font-size: 16px;
  margin-top: 16px;
}

